/* O asterico funciona para tudo não especificado na página */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*No caso de Ids, usamos # antes do nome da id. IDS SÃO ÚNICOS NA PÁGINA. Seções mais específicas*/
/*No caso de class, usamos . antes do nome da class. Quando é algo mais genérico, usar class */
/* Padding = Espaçamento interno. Margin = Margem, dur. Border = Pra adicionar alguma borda ao elemento
    O Height não é respeitado, Padding, Border, e os outros recebem prioridade */

body > header {
    background-color: #2f3640;
    padding: 16px 0;
    color: #f5f6fa;
}

header .container {
    display: flex;
    align-items:center;
    justify-content: space-between;
}

/* Nesse caso, os elementos do menu do cabeçalho, ficam ordenados. Na função display */
header li {
    display: inline;   
}

header li a {
    color: #f5f6fa;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    margin-left: 16px;
}

/* Em margin pode ser abreviado apenas com 0 auto, mas cada um deles se refere a um lado (cima, direita, baixo, esquerda */
.container {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;   
}

.articles article img {
    /* height: 180px; */
    width: 100%;

}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2, .articles articles {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.article article a {
    background-color: blue;
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p, .articles article a {
    font-family: Arial, Helvetica, sans-serif;

}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#sports {
    background-color: rgba(0, 255, 0, 10%);
}

#sports .articles article a {
    background-color: #009432;
}

#economy {
    background-color: #fffa65;
}

#economy .articles article a {
    background-color: #ba9f7a;
}

#zelda, #dune, #gog {
    background-color: #dccdea;
}

#entretenimento {
    background-color: #b89ece;
}

#facebook, #xiaomi, #gmail {
    background-color: rgb(155, 155, 228);
}

#tecnologia {
    background-color: rgb(91, 91, 212);
}